:root {
    --paragraph-color: #7E7D7D;
    --border-radius: 6px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    color: #222;
    background: linear-gradient(180deg, #64CDDB 0%, #36ABD0 100%);
    padding-top: 4em;
}

h2, p {
    margin: 0;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: var(--border-radius);
    max-width: 400px;
    margin: 0 auto;
}

    .card header {
        padding: 1em;
    }

.card-section {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

    .card-section h2 {
        font-weight: bold;
        margin-bottom: 0.2em;
    }

    .card-section p {
        font-weight: normal;
        color: var(--paragraph-color);
    }

.counter-ui-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    list-style: none;
}

li span {
    width: 33%;
}

.counter {
    font-size: 5em;
    font-weight: bold;
    width: 1.5em;
    text-align: center;
}

button {
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--paragraph-color);
    height: auto;
    width: auto;
    margin-top: 1em;
    padding: 1rem;
    border-radius: var(--border-radius);
}

    button:focus {
        outline: #39A7B8 auto 1px;
    }

footer {
    color: #999;
    text-align: center;
    padding: 2em 1em 1em;
}

    footer span {
        font-size: 0.8em;
    }

.icon-bone,
.icon-ball,
.icon-circle,
.icon-rabbit {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    display: inline-block;
    background: url("https://assets.codepen.io/21542/Toys.png") no-repeat no-repeat;
    background-size: 256px;
    vertical-align: middle;
    position: relative;
    top: -8px;
}

.icon-ball {
    background-position: -64px;
}

.icon-circle {
    background-position: -128px;
}

.icon-rabbit {
    background-position: -192px;
}

input[type="submit"] {
    margin-top: 1em;
    appearance: none;
    height: 40px;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: var(--border-radius);
    cursor: pointer;
    background: #64CDDB;
    font-family: inherit;
    outline: 0;
    border: 0;
    color: #fff;
    font-weight: bold;
    border-bottom: 4px solid #38BED3;
}

    input[type="submit"]:focus {
        outline: #39A7B8 auto 1px;
    }

    input[type="submit"][disabled] {
        border: 1px solid #ddd;
        cursor: inherit;
    }

form {
    margin-left: 1rem;
    margin-top: 1rem;
}

label {
    display: block;
    font-size: 0.8em;
    color: var(--paragraph-color);
    margin-bottom: 0.3em;
    text-align: left;
}

input[type="text"] {
    display: block;
    height: 40px;
    width: 100%;
    max-width: 300px;
    border-radius: var(--border-radius);
    border: 1px solid #888;
    padding-left: 0.5em;
    font-family: inherit;
}

.field {
    margin-bottom: 1em;
    text-align: left;
}

select {
    height: 40px;
    padding-left: 0.5em;
    padding-right: 2em;
    width: 150px;
    border-radius: var(--border-radius);
    border: 1px solid #888;
    font-family: inherit;
    appearance: none;
}

.select-container {
    position: relative;
    display: inline-block;
}

.select_arrow {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

::placeholder {
    color: #bbb;
}
