:root {
    --paragraph-color: #7E7D7D;
    --border-radius: 6px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    color: #222;
    background: linear-gradient(180deg, #64CDDB 0%, #36ABD0 100%);
    padding-top: 4rem;
}

h2, p {
    margin: 0;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.12);
    border-radius: var(--border-radius);
    max-width: 400px;
    margin: 0 auto;
}

.card-header {
    padding: 1rem;
}

.card-section {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

    .card-section h2 {
        font-weight: bold;
        margin-bottom: 0.2rem;
    }

    .card-section p {
        font-weight: normal;
        color: var(--paragraph-color);
    }

.counter-ui-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter {
    font-size: 5rem;
    font-weight: bold;
    width: 5.5rem;
    text-align: center;
}

button {
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--paragraph-color);
    height: 40px;
    width: 40px;
    border-radius: var(--border-radius);
}

    button:focus {
        outline: #39A7B8 1px;
    }

footer {
    color: #999;
    text-align: center;
    padding: 2rem 1em 1em;
}

    footer span {
        font-size: 0.8em;
    }
